h1 {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  text-align: center;
  margin: 50px;
}

#top-title h5{
  text-align: center;
}

h3 {
  text-align: center;
}

.half-background {
  background: linear-gradient(to top, transparent 30%, orange 30% 70%, transparent 70%);
}

.song-bar-label, .artist-bar-label {
  font-weight: 700;
  padding-left: 5px;
  mix-blend-mode: color-burn;
}

.artist-bar-label {
  font-size: 1.5rem;
}

.circle-text {
  fill: #00b395;
  font-weight: 700;
}

.summary-text-number {
  font-weight: 700;
  font-size: 3rem;
  fill: #993399;
}

.summary-text {
  font-weight: 700;
  font-size: 1.25rem;
}

#bottom-text {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}